/.venv
/0404_hello_world.py
/0405_loops.py
/0417_regex_practice.py
/0419_numpy.ipynb
/adult_data.csv
/airports.txt
/auto.csv
/cardataOne.txt
/cardataTwo.txt
/CompanyABC_stock.csv
/data_file.json
/employee (1).csv
/Final Project Real.ipynb
/Final_Project
/multiline-zipcode.json
/officecode.csv
/practice_problems
/RealEstate.csv
/Sales_April_2019.csv
/Sales_February_2019.csv
/spark-warehouse
/word_count.txt
/zipcode (1).json
/zipcode (2).json
/zipcode.json
/zipcode1.json
/zipcode2.json
/zipcodeData.csv
/zoo.csv